    section{margin:50px 0;}
    /*Heading*/
      .header{position:fixed;top:0px;left:0px;width:100%;min-height:50px;background-color:#000;opacity:0.7;padding:10px;z-index:10;}
      .header a {text-decoration:none;color:inherit;}
      .bottom-header{position:fixed;top:0px;left:0px;width:100%;min-height:50px;margin-top:50px;z-index:10;}
      .nav-item{margin:3px;}
      .heading-logo-text{color:#fff;font-size:1rem;}
      .btn-group{margin: auto;}
    /*Section one*/
      .first-heading{position:relative;top:60%;margin:0 5%;color:#FFF}
      .bg-img{width: 100%;height: 300px;background-image: url('/image/inventory-bg.jpg');background-size: cover;background-position: center center;}
    /*Section two*/
      .my-dropdown{display:inline-block;padding:5px;}
      .sort-by{text-align:center;line-height:50px;padding:5px;}
    /*Section Three*/
      .inventory{margin:10px auto;padding:12px;position:relative;}
      .margin-bottom-20{margin-bottom:20px;}
      .title{font-size:20px;}
      .checkbox{position:absolute;top:3px;right:5px}
      .vehicle-detail{font-weight:bold;width:100px;text-align:left}
      .spec{padding-left:5px;text-align:left}
      .btn-details{display:flex;float:right;}
      /*Section Nine*/
        .contact{padding:20px 2%;background-color:#333;opacity:0.9;color:#fff;position:relative;z-index:-10;}
        .contact h4{margin-bottom:20px;}
        .contact a{color:#fff;text-decoration:none;}
        .contact-container{margin:20px 0px;}
        .appQRcode{padding:8px;text-align:center;}
        .appQRcode>img{border:3px solid #fff;padding:8px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
        .QRcode-text{padding:8px;text-align:center;}
        .QRcode-text>div{margin-top:10px;}
        .dl-btn{--bs-btn-border-radius:0.9rem;}
        .contact-infor{padding:8px;text-align:center;}
        .contact-us{padding:8px;text-align:left;}
      /*Section Footer*/
        .footer{background-color:#000;opacity:0.8;color:#fff;position:relative;z-index:-10;text-align:center;}
        .footer a{color:#fff;text-decoration:none;}
        .footer>div{margin:20px 0;}
        .logo-footer>div{margin:auto 5%;padding:8px;}
        .footer-logo-text{color:#fff;font-size:1rem;}
        .footer-navbar>ul{padding-left:0px;}
        .menu-item{display:inline-block;padding:8px}
        .footer-text>p{margin-left: 0px;}