      section{margin:50px 0;}
      .email{color:#f00}
      /*Heading*/
        .header{position:fixed;top:0px;left:0px;width:100%;min-height:50px;background-color:#000;opacity:0.7;padding:20px;z-index:10;}
        .bottom-header{position:fixed;top:0px;left:0px;width:100%;min-height:50px;margin-top:70px;z-index:10;}
        .nav-item{margin:3px;}
        .heading-text-color{color:#fff}
        .btn-group{margin: auto;}
      /*Section one*/
        .first-heading{position:relative;top:60%;margin:0 5%;color:#FFF}
        .bg-img{width:100%;height:300px;background-image: url('/image/ourteam-bg.jpg');background-size: cover;background-position: center center;}
      /*Section two*/
        .manager-title{color:#f00;margin-bottom:60px;}
        .manager-detail{width:100%;height:auto;margin:0 auto;}
        .manager-detail>div{padding:10px}
        .manager-infor h4{padding: 5px 0 5px 0;}
        .manager-infor div{padding:8px;line-height:30px;}
        .manager-infor{padding:0 5;text-align:center;}
        .manager-infor img{width:auto;max-width:240px;}
      /*Section Three*/
        .sales-title{color:#f00;margin-bottom:60px;}
        .sales-detail{width:100%;height:auto;margin:0 auto;}
        .sales-detail>div{padding:10px} 
        .sales-infor h4{padding: 5px 0 5px 0;}
        .sales-infor div{padding:8px;line-height:30px;}
        .sales-infor{padding:0 5px;text-align:center;}
        .sales-infor img{width:auto;max-width:200px;}
      /*Section Four*/
        .inventory{padding:8px;}
        .inventory-col{padding:4px;}
        .btn-inventory-container{display:flex;flex-direction:row;}
        .btn-search-inventory{margin-left:auto;margin-right:5px;}
      /*Section Five*/
        .map{overflow:hidden;padding-bottom:50%;position:relative;height:0;}
        .map iframe{top:20px;height:100%;width:100%;position:absolute;}
      /*Section Six*/
        .footer-infor{color:#fff;padding:20px 2%;background-color:#333;opacity:0.9;position:relative;z-index:-10;}
        .footer-infor h4{margin:10px 20px;}
        .footer-infor a{color:#999;text-decoration:none;}
        .footer-infor>div{margin:20px 0;}
        .considerations li{padding:5px;line-height:30px;}
        .twitterfeed{padding:5px;line-height:30px;}
        .tweet-text>li{margin:0px 0}
      /*Section Footer*/
        .footer{background-color:#000;opacity:0.8;color:#fff;position:relative;z-index:-10;}
        .footer a{color:#fff;text-decoration:none;}
        .footer>div{margin:20px 0;}
        .logo-footer>div{margin:auto 5%;padding:8px;}
        .menu-item{display:inline-block;;padding:8px}